.navebar{
    border-bottom:1px black solid ;
    background-color: white;
}
.fundo{
    padding: 0;
    margin-top: 01px ;
    margin-left:0 !important ;
    padding-left: 0 !important;
    width: 100vw;
    height: 65vh;
    background-image:url('img/Background.jpg') !important;
    background-size: cover;
    opacity: 0.9;
}

.menuu{
    background-color: rgb(255, 255, 255) !important;
}

#botao{
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.cards{
    display: flex;
    margin: 0 auto;
    }

.img1, .img2, .img3{
    padding: 10px;
    width: 30vw;
    height: 60vh;
    margin: 10px;
}

p{
   font-size: 12px;
}

h4{
    padding-top: 20px;
}

h3{
    padding-top: 10px;
    font-size: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    padding: 10px;
}

.institucional,.duvidas,.atendimento{
    font-size: 12px;
}

.caixa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=text] {
 
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 10px;
    background-color: white;
    }

    input[type=submit]{
        background-color: #0300b5;
        padding: 5px;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        border:none;
         }

    input[type=submit]:hover{
        background-color: #fff;
        color: #0300b5;
        border:1px solid #0300b5;
        padding: 4px;
        
    }

